<% if current_admin %>
	<div class="admin_panel jumbotron">
		<div class="container">
			<h1>Register</h1>
			<%= render 'form' %>
			<%= link_to 'Back', admin_login_path, class: "admin_button go_back" %>
		</div>
	</div>
<% else %>
	<% require_admin %>
<% end %>
