<% if current_admin %>
	<div class="admin_panel">
		<div class="container">
			<h1>Add New Member</h1>
			<%= link_to 'Back', admin_login_path, class: "admin_button go_back" %>
			<%= render 'form' %>
		</div>
	</div>
<% else %>
	<% require_admin %>
<% end %>
