<% if current_admin %>
	<div class="admin_panel">
		<div class="container">
			<h1>Update Team Member</h1>
			<%= link_to 'Back', admin_login_path, class: "admin_button go_back" %>
			<%= form_for(@duk) do |f| %>
			  <% if @duk.errors.any? %>
			    <div id="error_explanation">
			      <ul>
			      <% @duk.errors.full_messages.each do |message| %>
			        <li class="error"><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

       <%=  render 'form' %>
			<% end %>
		</div>
	</div>
<% else %>
	<% require_admin %>
<% end %>
