<div class="benefits jumbotron">
	<div class="container">
		<div class="box col-md-2 col-md-offset-1">
			<div class="always-show" id="i1">
				<img src="/assets/fun-image.png">
				<h3>Mokytis žodžius gali būti lengva!</h3>
			</div>
			<p class="hidden-xs" id="di1">
				Naudojantis LearnWords programa Jums nebereikės „kalti“ žodžių. 
				Dėl vizualinės atminties žodžiai Jums tiesiog „įstrigs“ galvoje. 				
			</p>
		</div>
		<div class="box col-md-2">
			<div class="always-show" id="i2">
				<img src="/assets/revise-image.png">
				<h3>Prisiminkite žodžius kiekvieną dieną!</h3>
			</div>
			<p class="hidden-xs" id="di2">
				Naudojantis LearnWords programa Jums nebereikės „kalti“ žodžių. 
				Dėl vizualinės atminties žodžiai Jums tiesiog „įstrigs“ galvoje. 				
			</p>
		</div>
		<div class="box col-md-2">
			<div class="always-show" id="i3">
				<img src="/assets/statistics-image.png">
				<h3>Sekite savo progresą!</h3>
			</div>
			<p class="hidden-xs" id="di3">
				Visų pamokų rezultatai yra sekami, todėl nesunkiai galėsite stebėti
				savo įvertinimus, kuriuos gausite atlikę pamokas.				
			</p>
		</div>
		<div class="box col-md-2">
			<div class="always-show" id="i4">
				<img src="/assets/time-image.png">
				<h3>Sutaupysite laiko!</h3>
			</div>
			<p class="hidden-xs" id="di4">
				Skirkite vos 10-15 min per dieną žodžiams su LearnWords mokintis
				ir jau mažiau nei po savaitės lengvai juos prisiminsite.				
			</p>
		</div>
		<div class="box col-md-2">
			<div class="always-show" id="i5">
				<img src="/assets/money-image.png">
				<h3>Programa yra nemokama!</h3>
			</div>
			<p class="hidden-xs" id="di5">
				Daugelis tokio pobūdžio programų yra mokamos arba nemokamai siūlomos
				tik jų DEMO versijos.					
			</p>
		</div>
	</div>
</div>