<% content_for :title, "LearnWords - Oops!" %>
<% content_for :meta, "In progress! Soon to be our new blog!" %>
<div class="blog jumbotron">
	<h1>Oops! Currently this site is Under Construction</h1>
</div>
