<% content_for :title, "LearnWords - Contact" %>
<div class="contact-content row jumbotron">
	<div class="col-md-1 hidden-xs">
	</div>
	<div class="col-md-6 get_in_touch">
		<h1>Contact Us</h1>
		<p>
			We are friendly and easily approachable team.
			If you have any questions, don't be shy - ask, we are happy to help.
			Give us a call or email us. Contact us on Twitter or just use the form
			below.
		</p>
		<div class="contact_details">
			<div class="container">
				<div class="detail">
					<img src="/assets/phone.png"/><p>+447783008354</p>
				</div>
				<div class="detail">
					<img src="/assets/email.png"/><p>M.Serapinas@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5 right">
		<%= form_tag(site_contact_path, class: 'response form-horizontal', authenticity_token: true) do %>
			<h2 class="contact-title">Send Message</h2>
			<div>
				<p>Thank you! We will contact you soon.</p>
			</div>
		<% end %>
	</div>
</div>
