<div class="download">
	<div class="container">
		<h1>LearnWords</h1>
		<div class="row">
			<div class="col-md-6 left hidden-xs">
				<img src="/assets/product.png" />
			</div>
			<div class="col-md-4 right">
				<ul>
					<li>Lengva naudotis</li>
					<li>Padeda nesunkiai išmokti žodžius</li>
					<li>Vos kelios minutės per dieną</li>
					<li>Interneto ryšys - nebūtinas</li>
					<li>Lengva naudotis</li>
				</ul>
				<%= link_to "Parsisiųsti", download_app_path %>
			</div>
		</div>
	</div>
</div>