<div class="download">
	<div class="container">
		<h1>LearnWords</h1>
		<div class="row">
			<div class="col-md-6 left hidden-xs">
				<img src="/assets/product.png" />
			</div>
			<div class="col-md-4 right">
				<ul>
					<li>Easy to Use</li>
					<li>New Words Everyday</li>
					<li>Just a Few Mintues Per Day</li>
					<li>No Need of Connection to the Internet</li>
				</ul>
				<%= link_to "Download | Windows 7", download_app_win_path %>
				<%= link_to "Download | Mac OS X", download_app_mac_path %>
			</div>
		</div>
	</div>
</div>
