<header class="header jumbotron">
	<div class="container">
		<h1>LearnWords</h1>
		<h2>Išmokite anglu žodžius negaišdami daug laiko ir neeikvodami jegu!</h2>
		<p class="present">
				Nebegaiškite laiko vartydami vadovėlius. <br>
				Ženkite į XXI amžiu ir pradėkite mokytis su kompiuterio pagalba.<br>
				Išmokti anglu kalbos žodžius su LearnWords programa itin paprasta!
		</p>
		<div class="center">
			<%= link_to "Parsisiųsti", site_download_path %>
		</div>
	</div>
</header>