<% content_for :title, "LearnWords - Learning Made Easy" %>
<% content_for :meta, "LearnWords makes learning new English or Lithuanian words
easy. Our app is free. Learnwords - simple and fun way to learn a language." %>
<header class="header jumbotron">
	<div class="container">
		<h1>LearnWords</h1>
		<h2>Learn new English words without wasting lots of time and energy</h2>
		<p class="present">
				Don't waste your time trying to learn words by heart. <br>
				Just download our application and learn words without much effort.<br>
				Learning new words with LearnWords Application is simple and fun!
		</p>
		<div class="center">
			<%= link_to "Download", site_download_path %>
		</div>
	</div>
</header>
