html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img, embed, object, video {
	max-width: 100%;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	line-height: 1,2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	width: 100%;

	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Shift', sans-serif;
	margin: 0;
}

h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.2em;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.container {
	width: 100%;
	margin: 0;
	padding: 0;
}
.float_left img, .float_left h2 {
	float: left;
}
.float_right img, .float_right h2 {
	float: right;
}
.left {
	padding: 40px;
}
.center {
	text-align: center;
}
li.error {
	color: #FF0000;
	font-weight: 500;
	font-size: 14px;
}
.quote {
	background: #fcfcfc;
	border-left: 10px solid #2980b9;
	margin: 0.7em 10px;
	padding: 0.6em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	box-shadow: 2px 2px 2px #888;
	font-size: 100% !important;
	font-weight: normal !important;
}
.quote:before {
	color: #2980b9;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.2em;
	vertical-align: -0.4em;
}
/*************** Navigavija ***************/
.navbar {
	background: #2980b9;
	border-bottom: 1px #f5f5f5 solid;
	width: 100%;
}
.navbar-links > li > a{
	font-family: Tahoma, Verdana;
	font-size: 0.9em;
}
.navbar-nav .hidden-xs {
	transition: padding 1s;
}
.navbar-nav .hidden-xs:hover{
	padding-top: 5px;
}
.navbar .logo {
	width: 68px;
	height: 68px;
	background: url('/assets/temp-logo1.png') no-repeat;
	display: block;
	margin: 20px 0 20px 20px;
	border: 2px solid #fff;
	border-bottom: 4px solid #fff;
	transition: ease all 1s;
}
.navbar .logo:hover {
	border-bottom: 10px solid #fff;
}

.header {
	background: url('/assets/test.jpg') #000 no-repeat scroll left top;
	background-size: cover;
	width: auto;
	opacity: 0.9;
	transition: ease all 1s;
}
.header:hover {
	opacity: 0.95;
}
.header h1 {
	color: #303030;
	text-align: center;
	color: #fff;
	font-size: 44px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}
.header h2 {
	font-family: 'Open Sans', sans-serif;
	padding: 20px 0 0 0;
	font-weight: 400;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.header a {
	display: block;
	background: #d5d5d5;
	border: 3px solid #2980b9;
	margin: 0 auto;
	padding: 13px;
	width:  130px;
	transition: background 1s;
	font-family: Tahoma, Verdana;
	font-size: 0.95em;
	color: #277897;
	font-weight: bold;
	border-radius: 2px;
}
.header a:hover {
	background: #e5e5e5;
	color: #2980b9;
	text-decoration: none;
}
.present {
	padding: 30px;
	text-align: center;
	text-shadow: 1px 1px #000;
	color: #eee;
	line-height: 26px;
}
/*************** Footer ***************/
.footer {
	width: 100%;
	position: relative;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}
.footer .info {
	padding: 50px;
	background: #fff;
	color: #555;
}
.footer h3 {
	text-align: center;
	margin: 15px 0;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Shift', sans-serif;
}
.info p {
	font-size: 12px;
	text-align: center;
	color: #000;
	padding-bottom: 5px;
}
.footer ul {
	text-align: center;
}
.footer  ul li a {
	color: #555;
	line-height: 30px;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	transition: 1s all ease-in-out;
}
.footer div ul li a:hover {
	color: #2980b9;
}
.admin_login {
	display: block;
	font-size: 14px;
	border: 1px solid #f0f0f0;
	margin-top: 10px;
	padding: 10px 10px;
	transition: 1s all ease-in-out;
}
.admin_login:hover {
	text-decoration: none;
	border: 1px solid #808080;
	color: #2980b9;
}
.footer .rights {
	background: #e5e5e5;
	line-height: 50px;
	color: #2980b9;
	text-align: center;
	font-size: 12px;
	border-top: 1px solid #ccc;
}

	@media (max-width: 767px) {
		.footer ul li {
			padding: 8px 0;
		}
		.footer .col-md-4 {
			border-bottom: 1px solid #aaa;
			padding-bottom: 5px;
		}
		.footer  ul li a {
			border: 1px solid #2980b9;
			padding: 7px;
			display: block;
		}
		.admin_login {
			border: 1px solid #808080;
			margin-bottom: 8px;
			color: #555;
		}
	}

/******************************** GALIMYBES **********************************/
.benefits {
	width: 100%;
	background: url('/assets/features_background.jpg') center right;
	min-height: 520px;
}
.box {
	border: 1px solid #555;
	text-align: center;
	background: #fff;
	opacity: 0.9;
	padding: 0;
	transition: 1s all ease;
}
.box:hover {
	opacity: 1;
}

.box .always-show {
	height: 200px;
	cursor: pointer;
}

.box h3 {
	padding: 8px;
	font-size: 16px;
	color: #1a1a1a;
	text-transform: uppercase;
	font-family: 'Playfair Display SC', serif;
	width: 100%;
}
.box img {
	box-shadow: 2px 2px 2px #333;
	width: 128px;
	margin-top: 15px;
}

.box p {
	line-height: 20px;
	font-size: 16px;
	font-family: sans-serif;
	color: #555;
	padding: 15px;
	height: 190px;
	display: none;
}
.features {
	padding: 0;
}
.feature {
	padding: 50px 40px 50px 40px;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	color: #504759;
	display: inline-block;
}
.float_right  {
	background: #FF4A71;
	border-top: 10px solid #F53D40;
	border-bottom: 10px solid #F53D40;
}
.float_right > img {
	border: 3px solid #fff;
	margin-left: 3%;
}
.float_right > h2 {
	color: #f5f5f5;
}
.float_left > img {
	border: 3px solid #504759;
	margin-right: 3%;
}

.float_right > h2 {
	color: #f5f5f5;
}
.feature img {
	width: 30%;
	box-shadow: 3px 3px 3px #505050;
}
.feature h2 {
	width: 67%;
	font-weight: 600;
	font-size: 1.5em;
	margin-top: 10%;
}
	@media (max-width: 993px) {
		.benefits {
			height: auto;
		}
		.box {
			margin: 0 auto;
			max-width: 250px;
		}
		.box p {
			height: 100px;
		}
	}
	@media (max-width: 767px) {
		.benefits {
			height:auto;
		}
		.box h3 {
			padding: 0;
			font-size: 1em;
			border: 0;
			line-height: 1.5em;
		}
		.box  {
			padding: 20px 5px;
			text-align: center;
		}
		.box img {
			margin-bottom: 5px;
		}
		.col-md-2 {
			width: auto;
		}
		.float_left > img {
			margin-right: 7%;
		}
		.feature img {
			width: 40%;
		}
		.feature h2 {
			margin-top: 5%;
			width: 50%;
			font-size: 1.1em;
		}
	}
/******************************** DOWNLOAD **********************************/
.download {
	width: 100%;
	color: #fff;
	background: url('/assets/download_background.jpg') #000 left top;

}
.download .title {
	padding-bottom: 40px;
	text-align: center;
	font-size: 44px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}
.download .left {
	padding: 0;
}
.download .right {
	background: #f7f7f7;
	padding: 20px 30px 20px 30px;
	border: #bbb solid 1px;
	opacity: 0.95;
}
.download .downloadDescription {
	color: #525252;
	font-size: 1.2em;
	line-height: 1em;
	letter-spacing: 1px;
}
.download .downloadDescription ul  li{
	list-style-type: none;
	padding: 5px;
}
.download .downloadButtons a {
	color: #fff;
	background: #2980b9;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	transition: 1s all ease-in-out;
	display: block;
	padding: 10px;
	text-transform: uppercase;
	border: 2px solid #555;
	margin-top: 20px;
	font-family: Tahoma, Verdana;
	font-size: 0.9em;
}
.download .downloadButtons a:hover {
	background: #1866ac;
	border-bottom: 2px solid #000;
}
.downloadedTimes {
	padding: 30px 0 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 300;
	color: #404040;
}

	@media screen and (max-width: 1000px) {
		.download .left.hidden-xs {
			display: none;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1000px) {
		.download {
			padding: 30px;
		}
	}
/******************************** CONTACT **********************************/
.contact-content  {
	background: url('/assets/contact.jpg') #c5c5c5 no-repeat left top;
	width: 100%;
}
.get_in_touch {
	color: #fff;
}
.get_in_touch  h1{
	text-transform: uppercase;
}
.get_in_touch p {
	font-style: "Helvetica Neue";
	line-height: 26px;
	font-weight: 200;
	font-size: 18px;
	width: 80%;
	color: #d5d5d5;
}
.contact_details {
	margin: 10px 0;
}
.detail {
	width: 100%;
	clear: both;
	padding: 30px 0;
}
.contact_details img{
	float: left;
}
.contact_details p {
	font-size: 20px;
	padding-left: 20px;
	line-height: 64px;
	float: left;
	color: #fff;
	letter-spacing: 1px;
}
.response {
	background: #fff;
	padding: 30px;
	box-shadow: 2px 2px 2px #888888;
}
.response .contact-title {
	padding: 0;
	color: #555;
	font-weight: 300;
	text-align: left;
	margin-bottom: 25px;
	border-bottom: 1px solid #909090;
	padding-bottom: 4px;
}
label {
	color: #555;
	font-size: 12px;
	font-family: Verdana;
	text-transform: uppercase;
	margin-top: 5px;
	float: left;
	width: 110px;
	text-align: left;
}
.response .input, .response textarea {
	border: 1px #333 solid;
	padding: 5px;
	width: 280px;
	margin-bottom: 16px;
}
.contact-content textarea {
	resize: none;
}
.button-holder {
	text-align: center;
}
.submit {
	color: #ddd;
	background: #606060;
	font-size: 16px;
	padding: 10px 30px 10px 30px;
	border: 0;
	box-shadow: 2px 2px 2px #ccc;
	cursor: pointer;
	font-weight: bold;
}
.submit:hover {
	color: #fff;
	background: #505050;
	transition: all 1s;
}

	@media (max-width: 767px) {
		.get_in_touch p {
			width: 100%;
			text-align: justify;
		}
		.contact_details img{
			width: 32px;
		}
		.contact_details p {
			font-size: 18px;
			padding-left: 10px;
			width: 80%;
			line-height: 32px;
		}
		.contact {
			text-align: center;
		}
		.contact-content {
			padding: 30px 20px;
		}
		.response {
			margin-top: 20px;
		}
		.response .contact-title {
			margin-bottom: 15px;
			font-size: 1.2em;
		}
		.submit {
			text-align: center;
			margin: 0;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1000px) {
		.contact-content {
			padding: 30px;
		}
	}
/******************************** D.U.K **********************************/
.duk_page {
	padding: 50px;
	background: url('/assets/questionMark.jpg') repeat;
}

.duk_page h1 {
	font-weight: bold;
	font-size: 30px;
	color: #2980b9;
	text-align: center;
	text-shadow: 2px 2px #ddd;
}

.duks {
	width: 100%;
	padding: 40px;
	display: inline-block;
}

.duk {
	background: #f5f5f5;
	border-left: 5px #f0f0f0 solid;
	padding: 15px;
	min-height: 570px;
	margin-top: 5px;
	opacity: 0.95;
	transition: 1s linear all;
}
.duk:hover {
	background: #fff;
	opacity: 1;
	border-left: 8px #2980b9 solid;
}

.duk_buttons {
	float: right;
	margin-left: 4px;
	margin-bottom: 10px;
}
.duk_buttons > img {
	width: 20px;
}
.duk .query {
	border-bottom: 2px solid #2980b9;
	padding-bottom: 7px;
	font-size: 20px;
	color: #606060;
	font-family: serif;
	font-weight: bold;
	display: inline-block;
	width: 100%;
}
.duk .answer {
	padding: 20px 15px 0 15px;
	font-size: 17px;
	font-family: serif;
	text-align: justify;
}

.show_duk {
	background: #2980b9;
	width: 300px;
	display: inline-block;
	padding: 20px;
	border: 1px solid #fff;
	margin-bottom: 15px;
	color: #fff;
}

	@media (max-width: 767px) {
		.duk_page {
			padding: 50px 0px 0;
			background: #e5e5e5;
		}
		.duk {
			min-height: 0;
		}
		.duk .query {
			font-size: 16px;
			cursor: pointer;
		}
		.duk .answer {
			font-size: 14px;
		}
	}
/******************************** Musu komanda **********************************/
.team {
	background: url('/assets/team.jpg') #ecf0f1;
	width: 100%;
	padding: 50px;
}
.team h1 {
	font-weight: bold;
	font-size: 34px;
	color: #2980b9;
	text-align: center;
	text-shadow: 1px 1px #000;
}
.team .members {
	width: 100%;
	display: inline-block;
}
.team .team_member {
	padding: 25px 20px;
	background: #DFE5FF;
	margin-top: 20px;
	float: left;
	width: auto;
	max-width: 280px;
	height: 420px;
	border-right: 5px dashed #f0f0f0;
	opacity: 0.95;
	transition: 1s ease all;
}
.team .team_member:hover  {
	background: #fff;
	border-right: 5px solid #fff;
	opacity: 1;
}
.team_member img{
	width: 160px;
	height: 160px;
	border-radius: 20px;
}
.add_member_link {
	display: inline-block;
	margin-top: 20px;
	width: 178px;
	border-radius: 90px;
}
.team_member .name {
	padding-top: 20px;
	min-height: 80px;
}
.add_new .name {
	padding-bottom: 20px;
	padding-top: 70px;
}
.team_member .job_title {
	margin-bottom: 0px;
	color: #2980b9;
}

	@media (max-width: 767px) {
		.team .team_member {
			min-height: 320px;
			height: 250px;
			background: #fff;
		}
		.add_new  {
			border: #2980b9 1px solid;
		}
	}
	@media screen and (min-width: 767px) and (max-width: 900px) {
		.team_member {
			margin-left: 30px;
			width: 280px !important;
		}
	}
/******************************** Admin panelė **********************************/
.admin_panel {
	background: url('programming.jpg') no-repeat center center;
	text-align: center;
}
.admin_panel h1{
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #555;
}
.admin_button {
	color: #eee;
	padding: 10px 15px;
	background: #777;
	box-shadow: 2px 2px 2px #000;
	transition: 1s ease all;
	display: inline-block;
}
.admin_button:hover {
	background: #5d5d5d;
	text-decoration: none;
	color: #fff;
}
.admin_panel .col-md-4 {
	text-align: center;
	margin-top: 10px;
}
.admin_panel h3 {
	color: #fff;
	text-shadow: 1px 1px #555;
	margin-bottom: 15px;
}
.team_members_list ul {
	margin: 5px;
}
.team_members_list li  .team_member {
	color: #fff;
	line-height: 30px;
	margin-top: 5px;
	padding: 5px;
	display: block;
	background: #000;
	opacity: 0.8;
	box-shadow: 2px 2px 2px #505050;
}
.team_members_list .admin_button {
	margin-top: 5px;
}

.website-settings .admin_button {
	width: 220px;
	margin-top: 7px;
}

.personal ul {
	margin: 10px 0;
}
.personal .admin_button {
	width: 200px;
	margin-top: 7px;
}
.admin_panel form {
	width: 450px;
	display: inline-block;
	background: #fff;
	margin-top: 10px;
	box-shadow: 2px 2px 2px #000;
	padding: 20px;
	opacity: 0.8;
}
.admin_panel .field {
	padding: 10px 0;
}
.admin_panel label {
	font-size: 16px;
	line-height: 20px;
	margin-left: 10px;
	color: #222;
}
.admin_panel input {
	border: 1px solid #2980b9;
	padding: 10px;
	margin-top: 10px;
	background: #666;
	color: #fff;
	font-size: 15px;
}
.admin_panel textarea {
	resize: none;
}
.admin_panel .submit {
	border: 0;
	height: auto;
	margin-top: 8px;
	background: #666;
	font-weight: 100;
	padding: 10px 20px;
	display: inline-block;
}
.admin_panel .submit:hover {
	background: #444;
}
.admin_panel .go_back {
	float: left;
	padding: 10px 20px;
	transition: 1s ease all;
	margin-left: -5px;
	display: inline-block;
}
.admin_panel p {
	color: #fff;
	line-height: 30px;
}
.admin_panel img {
	width: 200px;
	height: auto;
	border: 10px solid #fff;
	box-shadow: 2px 2px 2px #000;
	margin-bottom: 10px;
}
.admin_panel .quote {
	width: 300px;
	text-align: center;
	color: #333;
	line-height: 20px;
	display: inline-block;
}
.admin_panel .buttons {
	width: 100%;
}
.admin_panel .message_sent {
	color: #000;
	margin: 0;
}
	@media (max-width: 767px) {
		.admin_panel {
			padding-top: 50px;
		}
		.admin_panel .col-md-4 {
			border-bottom: 1px solid #fff;
			padding: 20px 5px;
		}
		.admin_panel form {
			width: 100%;
			margin-top: 50px;
		}
		.admin_panel .field {
			text-align: center;
		}
		.admin_panel label {
			margin: 0;
			width: 100%;
			padding-bottom: 5px;
			text-align: center;
		}
		.admin_panel .buttons a {
			width: 80%;
			margin-top: 10px;
		}
		.personal img {
			width: 150px;
			border: 5px solid #fff;
		}
		.admin_panel .go_back {
			margin-top: 20px;
			margin-left: -15px;
		}
		.admin_panel .quote {
			width: auto;
		}
		#duk_query, #duk_answer {
			width: 80%;
		}
	}
/***************************** Blog *******************************************/
.blog {
	background: url('in_progress.jpg') center center;
	height: 500px;
	opacity: 0.7;
}
.blog h1 {
	color: #EE0000;
	font-weight: 600;
	font-size: 40px;
	margin-top: 100px;
	text-align: center;
}

.no-left-border {
	border-left: 0;
}
.no-right-border {
	border-right: 0;
}
.no-bottom-border {
	border-bottom: 0;
}
.no-right-border:hover {
	border-right: 0;
}
.admin_profile {
	background: #000;
}
